html {
    background-color: #38AED2; 
}

#position {
    position: fixed;
}

.black {
    width:600px;
}

.red {
    z-index: 1;
    width:500px;
    margin: 50px;
    opacity: 50%;

}
.black2 {
    z-index: 2;
    width:400px;
    margin: 100px;
    
}

.green {
    z-index: 3;
    width:300px;
    margin: 150px;
}

.black3{
    z-index: 4;
    width:200px;
    margin: 200px;
}

.red2 {
    z-index: 5;
    width:100px;
    margin: 250px;
    opacity: 50%;
}

.dart {
    z-index: 6;
    width: 130px;
    margin: 230px 210px 250px 80px;
    
}

.dart2 {
    z-index: 7;
    width: 130px;
    margin: 120px 210px 250px 400px
}

.dart3 {
    z-index: 8;
    width: 130px;
    margin: 260px 160px 270px 330px
}
.dart4 {
    z-index: 9;
    width: 130px;
    margin: 180px 260px 250px 280px
}

body {
   padding-left: 400px; 
   padding-top: 50px;
}


