h1 {
    color: red;
    background-color: yellow
    
    }
    
    p {
        color: purple;
        background-color: gray;
        text-transform: uppercase
    
    }
    
    li {
        color: blue;
        background-color: green
    
    }