a {
    color: blue;
}

a:visited {
    color: grey;
}

a:hover, a:active {
    color: green;
    font-weight: bold;
}

p:first-child::first-letter {
    float: left;
    font-family: Fantasy;
    font-size: 4em;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  

}

p::first-line {
    text-transform: uppercase;

}


p:nth-child(2)::first-line {
    background-color: pink;
}

img {
    border: 25px solid transparent;
}

img:hover {
    border: 25px solid orange;
}