p {
    padding-left: 20px;
    font-size: 1.4em;
}

#submit {
    visibility: hidden;
}

#email {
    margin-left: 33px
}

input, select, textarea{
    border-color: green;
}

input:focus {
    background-color: yellow
}