html {
    background-color: rosybrown
}

h1 {
    font-size: 50px;
     color: red;
}

p {
    font-size: 40px;
}
#content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}
#sidebar {
    position: absolute;
    top: 0;
    bottom: 4;
    left: 0;
    width: 17.9%;
    background-color: lightgreen
    
}
#main {
    position: relative;
    margin-left: 250px;
    background-color: pink;
    height: 100%;
}

div ul {
    background-color: #f88
}

@media print {
    #sidebar {
        display: none;
    }
    #main {
        margin-left:0px;

    }
}