/* General setup */



html {
    font-size: 10px;
    margin: 0;
    font-family:'Pacifico', cursive;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
    font-family:'Pacifico', cursive;
  }
  
  h2 {
    font-size: 2.4rem;
    font-family:'Pacifico', cursive;
    
  }
  
  p {
    font-size: 1.4rem;
    font-family:'Gloria Hallelujah', cursive;
    line-height: 1.6;
    word-spacing: 0.6rem;
  }